<div id="page-wrapper">
	<div class="row">
		<div class="panel-body">
			<div class="col-lg-12" style="background-color:#f2f2f2">
				<div class="panel-heading"
					style="color:#002080 ; text-align:center;font-weight: bold;">
					<h4>{{viewDetailHeader}}</h4>
				</div>
			</div>
		</div>
	</div>
	<!--div class="row"> <div class="panel-body"> <div class="col-lg-12" style="background-color:#f2f2f2"> 
		<div id="columnWiseSearch"></div> </div> </div> </div -->


	<div class="row">
		
			<div class="col-lg-8" style="background-color:#f2f2f2">
			<div class="panel-body">
				<br />
				<input class="form-control" ng-model="keyinput" placeholder=".....Search All....."
					ng-change="search(keyinput)" type="search" />
				<br />
				<table class=" table table-striped table-bordered table-hover"
					fixed-header="true" style="background-color:white">
					<thead>
						<tr>
							<th ng-repeat="hdr in headers" ng-click="sort(hdr.header,$event)">
								{{hdr.header | uppercase}}
								<span class="{{upDown[hdr.header]}}" aria-hidden="true"></span>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in ItemsByPage[currentPage]" ng-class="{'selected':item[selectionKey] == selectedRow}"
							ng-click="toggleSelection(item,$index)">
							<td ng-repeat="hdr in headers">{{item[hdr.header]}} </td>
						</tr>
					</tbody>
				</table>
				<div style="padding:20px">
					<button ng-show="loader.loading" class="btn btn-success" style="background-color:black">
						Loading...
						<i class="fa fa-spinner fa-spin"></i>
					</button>
				</div>
				<ul class="pager">

					<li>
						<a ng-hide="hidePrevLi" href="#" ng-click="prevPage()">Previous</a>
					</li>
					<li class="disabled">
						<a ng-show="hidePrevLi">Previous</a>
					</li>

					<li>
						<a ng-hide="hideFirstLi" href="#" ng-disabled="true" ng-click="firstPage()">First
						</a>
					</li>
					<li class="disabled">
						<a ng-show="hideFirstLi">First</a>
					</li>

					<li>
						<a ng-hide="hideNextLi" href="#" ng-click="nextPage()">Next</a>
					</li>
					<li class="disabled">
						<a ng-show="hideNextLi">Next</a>
					</li>

					<li>
						<a ng-hide="hideLastLi" href="#" ng-click="lastPage()">Last</a>
					</li>
					<li class="disabled">
						<a ng-show="hideLastLi">Last</a>
					</li>

					<li class="next">
						<a>Page {{currentPage + 1}} of {{totalPage}}</a>
					</li>
				</ul>
			</div>
		</div>
		<div  class="col-lg-4" style="background-color:#f2f2f2">
			<div class="panel panel-default">
                     <div class="panel-heading">
                                <h3 class="panel-title" style="color:#002080 ; text-align:center">Details</h3>
                            </div>
                            <div class="panel-body">
			<!--button ng-click="showXML = !showXML" class="btn">Hide</button-->

			<div style="overflow-y: scroll;height:710px;">
				<pre>{{indentXMLData}}</pre>
			</div>
			</div>
		</div>

		</div>

	</div>
</div>

